<article class="gallery-card" data-post-title="{{title}}">
  <a href="{{url}}">
    {{#if feature_image}}
      <img src="{{feature_image}}" alt="{{title}}" class="gallery-card__image">
    {{/if}}
    <div class="card__overlay">
      <p>{{excerpt}}</p>
    </div>
  </a>
</article>